<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nordix Challenge</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script">
</head>
<body>
<main id="router-view">
    <script>
        function showBtn(textarea) {
            let isOn = false;
            let button = document.getElementsByClassName("fancyButton")[0]
            // let textarea = document.getElementsByClassName("searchSpace")[0]
            textarea.oninput = function () {
                if (this.value === "") {
                    button.classList.toggle("changeButton")
                    isOn = false;
                    return
                }
                if (!isOn) {
                    button.classList.toggle("changeButton")
                    isOn = true;
                }
            }
        }
    </script>
</main>
</body>
</html>

<template id="template-welcome">
    <h2 class="homeText">Scrum Crushers</h2>

    <form method="post">
        <input oninput="showBtn(this)" class="searchSpace" type="text" id="search" name="input_name" placeholder="Search for your dream company..">
        <button class="fancyButton"><a href="#articles">send</a></button>
        <label for="search"></label>
    </form>
</template>

<script type="module">
</script>

<script  type="module" src="../static/js/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>